@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Стили для кнопок в стиле GitHub */
.btn-github {
  @apply bg-gray-900 text-white font-semibold px-6 py-2 rounded-md hover:bg-gray-800 transition-all;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
